
@import url('https://fonts.googleapis.com/css2??family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:ital,wght@400;600&display=swap');

*{
   margin: 0;
   padding: 0;
}

nav{
font-family: 'Noto Sans', sans-serif;
font-weight: 900;
display: flex;
font-size: 20px;
background-color: rgb(224, 209, 245);
padding: 23px;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 23px;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav li a{
    text-decoration: none;
    color:rgb(30, 8, 33);
    transition: all;
    transition-duration: 500ms;
}
nav li a:hover{
    color:rgb(156, 83, 224)
}

nav ul{
    display: flex;
}
.container{
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    /* background-color: pink; */
    max-width: 80vw;
    margin:auto;
}

.container h1 ,h2{
    margin:23px 0;
    /* padding:0; */
    
}
.container form{
    display: flex;
    flex-direction: column;
    
}
.container form label{
font-size: 20px;

}

.container form label,input[type='number'], select{
    width:23vw;
    font-size: 20px;
    margin-bottom:23px ;
}

.btn{
    width: 100px;
    height:30px;
    padding: 5px, 8px;
    font-size: 15px;
    background: #f851f8;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.output{
    display: none;
}

.output table{
    width:50vw;
    text-align: center;
    border:2px solid black ;
    font-size: 20px;
}

footer{
    text-align: center;
    font-family: "Poppins", sans-serif;
}